{% extends "/layout/common.twig" %}

{% block content %}
    <div
        class="flex flex-col justify-start align-middle items-start space-y-2 w-full  h-dvh p-6 xl:max-w-7xl">

        <div
            class="flex flex-col justify-end align-middle items-start w-full p-3 
                rounded-md shadow-sm
                ">

            <h3 class="font-bold text-xl text-stone-900">About Us</h3>
        
            <div
            class="w-full p-6
                rounded-md shadow-sm bg-white">

            <p class="text-md text-stone-900">
                Cat Flap Fitters Yorkshire are the leading Cat and Dog flap company in the region. We provide a supply and installation service in Yorkshire 
                and parts of Lancashire of both microchip and standard 4 way locking Cat / Dog flaps into all types of glass as well as with UPVC, Composite and Timber 
                doors.
            </p>
            </div>

            <div
            class="pt-3">

            <h3 class="font-bold text-xl text-stone-900">What do we do?</h3>
            </div>

            <div
            class="w-full p-6
                rounded-md shadow-sm bg-white">

            <p class="text-md text-stone-900">
                We offer an installation service of customers own cat flaps. All our work is guaranteed and products come with a 3 year warranty.
            </p>
            </div>
        
        </div>

        
    </div>
{% endblock %}