{% extends "/layout/common.twig" %}

{% block content %}
<div
    class="min-h-content">

    <div class="mx-4 text-center bg-white rounded-t-md space-y-2 px-14 ">
        <div class=" rounded-t-md py-2  border-b-2 border-slate-300 mt-2">
            <h1 class="text-2xl  text-center py-4 ">About us</h1>
        </div>

        <div class="px-2 text-left lg:mx-20 lg:pb-20 lg:pt-10">
            <div class="py-4">
                <p>Cat Flap Fitters Yorkshire are the leading Cat and Dog flap company in the region.
                We provide a supply and installation service in Yorkshire and parts of Lancashire
                of both microchip and standard 4 way locking Cat / Dog flaps into all types of glass 
                as well as with UPVC, Composite and Timber doors. We can also offer an 
                installation service of customers own cat flaps.
                All our work is guaranteed and products come with a 3 year warranty.</p>
            </div>


        </div>
    </div>


</div>


{% endblock %}