{% extends "/layout/common.twig" %}

{% block content %}
    <div
        class="min-h-content">

        <div class="relative  overflow-hidden">
            <img src="/assets/homepagephoto.jpg"
            class="brightness-75"
            >  
            <div class="absolute w-full py-2.5 bottom-0 inset-x-1   text-white text-md leading-4 ml-4 text-left">
            
            <button type="button" value="Get a Quote" class="text-white rounded-md bg-black hover:bg-purple-700 p-4 transition ease-in-out delay-50">Get a Free Quote</button>
            </div>
     
        </div>

        <h1 class="text-center"></h1>
        <div
        class="mt-2 mx-1  p-2 bg-white rounded-t-md ">



        <p class="">Cat Flap Fitters Yorkshire are the leading Cat and Dog flap company in the region. We provide a supply and installation service in Yorkshire and parts of Lancashire of both microchip and standard 4 way locking Cat / Dog flaps into all types of glass as well as with UPVC, Composite and Timber doors.<br> We can also offer an installation service of customers own cat flaps. All our work is guaranteed and products come with a 3 year warranty. </p>

        </div>

    </div>
{% endblock %}