{% extends "layout/common.twig" %}

{% block content %}

<div
    class="min-h-content">

    <div class="mx-4 text-center bg-white rounded-t-md space-y-2">
        <div class=" rounded-t-md py-2  border-b-2 border-slate-300 mt-2">
            <h1 class="text-2xl">Frequently Asked Questions</h1>
        </div>

        <div class="px-2 ">
            <div class="text-left border-b-2 border-slate-300 space-y-2 py-2">
                <h1 class=" text-black">Can I install a cat flap into existing double glazed unit?</h1>
                <p class="text-black">A cat flap cannot be installed into existing double glazing; a new sealed unit has to be manufactured and the hole for the cat flap is cut into the two sheets of glass during manufacture. The glass is then toughened before the two sheets of glass are assembled into the new sealed unit. At Cat Flap Fitters Yorkshire we are experienced Glaziers specialising in pet door installations, and we use manufacturers of new sealed units who work to the highest standards. </p>
            </div>

            <div class="text-left border-b-2 border-slate-300 space-y-2 py-2">
                <h1 class=" text-black">Can I install a cat flap into my moulded UPVC door?</h1>
                <p class="text-black">Yes cat flaps can be installed into a moulded panel door, please refer to our gallery page to see some of our recent installations. We can install into all door types such as UPVC, Composite and Timber doors.</p>
            </div>

            <div class="text-left border-b-2 border-slate-300 space-y-2 py-2">
                <h1 class=" text-black">What areas do you cover?</h1>
                <p class="text-black">We cover most areas within the Yorkshire region and some areas of Lancashire.</p>
            </div>

            <div class="text-left border-b-2 border-slate-300 space-y-2 py-2">
                <h1 class=" text-black">What is the cost of installing a cat flap?</h1>
                <p class="text-black">Cat flaps and pet doors vary in price depending on your requirements. We’ll be able to give you an accurate quote when we know more about your preferences.</p>
            </div>

        </div>
    </div>


</div>

{% endblock %}