{% extends "/layout/common.twig" %}

{% block content %}
    <div
        class="min-h-content ">

        <div class="mx-4 text-center mt-2">
            <div class="bg-white rounded-t-md py-2">
                <h1 class="text-2xl">Gallery</h1>
            </div>

            <div class="space-y-2">
                <div class="">
                <img src="/assets/2024-01-05-1.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-2.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-3.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-4.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-5.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-6.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-7.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-8.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-9.jpg"
                class=""
                >
                </div>

            </div>
        </div>


    </div>
{% endblock %}