{% extends "/layout/common.twig" %}

{% block content %}
    <div
        class="flex flex-col justify-start align-middle items-start space-y-3 w-full min-h-content py-5">

        <div
            class="p-5">

            <h1 class="font-bold text-2xl text-stone-900">Gallery</h1>
        </div>

        <div class="space-y-3 px-3">
                <div class="">
                <img src="/assets/2024-01-05-1.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-2.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-3.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-4.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-5.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-6.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-7.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-8.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-9.jpg"
                class=""
                >
                </div>

            </div>
        </div>


    </div>
{% endblock %}