{% extends "/layout/common.twig" %}

{% block content %}
    <div
        class="flex flex-col justify-start align-middle items-start space-y-6 w-full h-full p-2 xl:p-4 xl:h-max xl:max-w-7xl">

        <div
            class="flex flex-col justify-end items-start w-full h-20 xl:h-1/2 p-3
                rounded-md shadow-sm">

            <h1 class="font-bold text-2xl text-stone-900">Gallery</h1>
        </div>

            <div
                class="flex flex-col justify-end  w-full xl:h-1/2 p-3
                rounded-md shadow-sm items-stretch space-y-6">
                <div class="">
                <img src="/assets/2024-01-05-1.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-2.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-3.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-4.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-5.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-6.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-7.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-8.jpg"
                class=""
                >
                </div>

                <div>
                <img src="/assets/2024-01-05-9.jpg"
                class=""
                >
                </div>

            </div>
        </div>
        </div>







{% endblock %}