{% extends "layout/common.twig" %}

{% block content %}

<div
    class="flex flex-col justify-start align-middle items-start space-y-2 w-full  h-max p-4 xl:max-w-7xl">

    <div class="flex flex-col justify-end align-middle items-start w-full px-3 
                rounded-md shadow-sm 0">
        <div class=" rounded-t-md py-2 mt-2 border-b-2 border-slate-200 ">
            <h1 class="text-2xl">Get A Quote</h1>
            <h3 class="text-sm">If you'd like us to get in contact for a Free quote, enter your details below</h3>
        </div>

        <div class="px-2 pb-2 bg-white rounded-md">
           <form action="/sendquote" method="POST">
        <label for="name" class="text-black">Name</label>
        <input type="text" id="name" name="contactname" placeholder="Name" required
        class="w-full p-2 mt-4 mb-4 text-black border-2 rounded-md resize-y border-box border-grey-400">

        <label for="email" class="text-black">Email Address</label>
        <input type="email" id="email" name="contactemail" placeholder="Email" required
        class="w-full p-2 mt-4 mb-4 border-2 rounded-md resize-y border-box border-grey-400">

        <label for="number" class="text-black">Contact Number</label>
        <input type="text" id="number" name="contactnumber" placeholder="Phone Number" required
        class="w-full p-2 mt-4 mb-4 border-2 rounded-md resize-y border-box border-grey-400">

        <label for="postcode" class="text-black">Postcode</label>
        <input type="text" id="postcode" name="postcodeaddress" placeholder="Post Code" required
        class="w-full p-2 mt-4 mb-4 border-2 rounded-md resize-y border-box border-grey-400">

        <label for="flap" class="text-black">What type of pet door is required?</label>
        <Select id="flap" name="typeofflap"
        class="w-full p-2 mt-4 mb-4 border-2 rounded-md resize-y border-box border-grey-400">
            <option value="Manual Cat Flap">Manual catflap</option>
            <option value="Microchip Cat Flap">Microchip catflap</option>
            <option value="App Controlled Cat">App Controlled Cat Flap</option>
            <option value="App Controlled Pet">App Controlled Pet Door</option>
            <option value="Petdoor With Curfew">Pet Door With Curfew Control</option>
            <option value="Manual Dog Door">Manual Dog Door</option>
            <option value="Don't know yet">I Am Not Sure Yet</option>
        </select>


        <label for="install" class="text-black">Is the installation into a door or into glass?</label>
        <Select id="install" name="typeofinstall" onchange="displayOptions(value);"
        class="w-full p-2 mt-4 mb-4 border-2 rounded-md resize-y border-box border-grey-400" required>
            <option hidden selected disabled>Select an option</option>
            <option value="Door">Door</option>
            <option value="Glass">Glass</option>
        </select>

        <div class="hidden" id="door">
            <label for="door" class="text-black">What material is the door?</label>
            <Select id="door" name="typeofdoor" 
        class="w-full p-2 mt-4 mb-4 border-2 rounded-md resize-y border-box border-grey-400">
            <option value="PVC">PVC</option>
            <option value="Composite">Composite</option>
            <option value="Timber">Timber</option>
        </select>
        </div>
       
        <div class="hidden" id="glass">
            <label for="glasswidth" cclass="text-black">What is the width of the visible glass?</label>
            <input type="text" id="length" name="glasswidth" placeholder="enter the width of visible glass"
            class="w-full p-2 mt-4 mb-4 border-2 rounded-md resize-y border-box border-grey-400">

            <label for="glassheight" class="text-black">What is the height of the visible glass?</label>
            <input type="text" id="height" name="glassheight" placeholder="enter the height of visible glass"
            class="w-full p-2 mt-4 mb-4 border-2 rounded-md resize-y border-box border-grey-400">
        </div>

<label for="howdidyouhear" class="text-black">How did you hear about us?</label>
        <input type="text" id="howdidyou" name="howdidyouhear" placeholder="Optional"
        class="w-full p-2 mt-4 mb-4 border-2 rounded-md resize-y border-box border-grey-400">
        
        
        <input type="submit" value="Submit quote request" class="text-white rounded-md bg-purple-500 hover:bg-purple-700 w-full p-4">



           
           </form>

        </div>
    </div>


</div>

<script src="/js/Quote.js"></script>

{% endblock %}