{% extends "/layout/common.twig" %}

{% block content %}
<div
    class="min-h-content">

    <div class="mx-4 text-center bg-white rounded-t-md space-y-2 px-14">
        <div class=" rounded-t-md py-2  border-b-2 border-slate-300 mt-2">
            <h1 class="text-2xl py-4">Contact Us</h1>
        </div>

        <div class="px-2 text-left">
            <div class="py-4">
                <h1 class=" text-black">Telephone:</h1>
                <p class="text-black">01535 671205</p>
            </div>

            <div class="py-4">
                <h1 class=" text-black">Mobile:</h1>
                <p class="text-black">07549 247996</p>
            </div>

            <div class="py-8">
                <h1 class=" text-black">Email:</h1>
                <p class="text-black">info@catflapfittersyorkshire.co.uk</p>
            </div>


        </div>
    </div>


</div>


{% endblock %}