{% extends "/layout/default.twig" %}

{% block content %}

<div
    class="flex flex-col justify-start align-middle items-start w-full h-full xl:max-w-7xl">

    <div
        class="w-full p-8 bg-purple-50">
    
        <h1 class="font-bold text-2xl text-purple-700">Frequently Asked Questions</h1>
    </div>

    <div
        class="w-full space-y-4 p-8 bg-white">
    
        <h2 class="font-bold text-lg text-stone-900">Can I install a cat flap into existing double glazed unit?</h2>

        <p class="text-md text-stone-900">
            A cat flap cannot be installed into existing double glazing; a new sealed unit has to be manufactured and the hole for the cat flap is cut into the two sheets of glass during manufacture. The glass is then toughened before the two sheets of glass are assembled into the new sealed unit. At Cat Flap Fitters Yorkshire we are experienced Glaziers specialising in pet door installations, and we use manufacturers of new sealed units who work to the highest standards.
        </p>
    </div>

    <div
        class="w-full space-y-4 p-8 bg-purple-50">
    
        <h2 class="font-bold text-lg text-stone-900">Can I install a cat flap into my moulded UPVC door?</h2>

        <p class="text-md text-stone-900">
            Yes, cat flaps can be installed into a moulded panel door, please refer to our gallery page to see some of our recent installations. We can install into all door types such as UPVC, Composite and Timber doors.
        </p>
    </div>

    <div
        class="w-full space-y-4 p-8 bg-white">
    
        <h2 class="font-bold text-lg text-stone-900">What areas do you cover?</h2>

        <p class="text-md text-stone-900">
            We cover most areas within the Yorkshire region and some areas of Lancashire.
        </p>
    </div>

    <div
        class="w-full space-y-4 p-8 bg-purple-50">
    
        <h2 class="font-bold text-lg text-stone-900">What is the cost of installing a cat flap?</h2>

        <p class="text-md text-stone-900">
            Cat flaps and pet doors vary in price depending on your requirements. We’ll be able to give you an accurate quote when we know more about your preferences.
        </p>
    </div>
</div>

{% endblock %}