{% extends "/layout/default.twig" %}

{% block content %}

<div
    class="flex flex-col justify-end align-middle items-start w-full h-64 p-4
        bg-hero-1 bg-cover bg-no-repeat bg-center">
    
    <a
        href="https://forms.gle/v5NPZ7VCELbncg1i6"
        class="flex flex-row justify-center align-middle items-center space-x-3 px-5 py-3
            rounded-md shadow-sm bg-purple-500 hover:bg-purple-700 font-semibold text-md xl:text-xl text-white">
                
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" viewBox="0 0 256 256"><path d="M232,108a20,20,0,1,1-20-20A20,20,0,0,1,232,108ZM64,108a20,20,0,1,0-20,20A20,20,0,0,0,64,108ZM92,80A20,20,0,1,0,72,60,20,20,0,0,0,92,80Zm72,0a20,20,0,1,0-20-20A20,20,0,0,0,164,80Zm19.24,75.85A43.46,43.46,0,0,1,162.57,130a36,36,0,0,0-69.14,0,43.49,43.49,0,0,1-20.67,25.9,32,32,0,0,0,27.73,57.62,72.49,72.49,0,0,1,55,0,32,32,0,0,0,27.73-57.62Z" opacity="0.2"></path><path d="M212,80a28,28,0,1,0,28,28A28,28,0,0,0,212,80Zm0,40a12,12,0,1,1,12-12A12,12,0,0,1,212,120ZM72,108a28,28,0,1,0-28,28A28,28,0,0,0,72,108ZM44,120a12,12,0,1,1,12-12A12,12,0,0,1,44,120ZM92,88A28,28,0,1,0,64,60,28,28,0,0,0,92,88Zm0-40A12,12,0,1,1,80,60,12,12,0,0,1,92,48Zm72,40a28,28,0,1,0-28-28A28,28,0,0,0,164,88Zm0-40a12,12,0,1,1-12,12A12,12,0,0,1,164,48Zm23.12,100.86a35.3,35.3,0,0,1-16.87-21.14,44,44,0,0,0-84.5,0A35.25,35.25,0,0,1,69,148.82,40,40,0,0,0,88,224a39.48,39.48,0,0,0,15.52-3.13,64.09,64.09,0,0,1,48.87,0,40,40,0,0,0,34.73-72ZM168,208a24,24,0,0,1-9.45-1.93,80.14,80.14,0,0,0-61.19,0,24,24,0,0,1-20.71-43.26,51.22,51.22,0,0,0,24.46-30.67,28,28,0,0,1,53.78,0,51.27,51.27,0,0,0,24.53,30.71A24,24,0,0,1,168,208Z"></path></svg>
        <p>Get a free quote</p>
    </a>
</div>

<div
    class="w-full p-8 bg-white">

    <p class="text-md text-stone-900">
        Cat Flap Fitters Yorkshire are the leading Cat and Dog flap company in the region. We provide a supply and installation service in Yorkshire 
        and parts of Lancashire of both microchip and standard 4 way locking Cat / Dog flaps into all types of glass as well as with UPVC, Composite and Timber 
        doors.
    </p>
</div>

<div
    class="w-full p-8 bg-purple-50">

    <p class="font-semibold text-xl text-purple-700">
        We offer an installation service of customers own cat flaps<br>
        <br>
        All our work is guaranteed and products come with a 3 year warranty.
    </p>
</div>

<div
    class="flex flex-col justify-center align-middle items-center space-y-4 w-full p-8
        bg-white">

    <a
        href="https://www.facebook.com/catflapfittersyorkshire/"
        class="flex flex-row justify-center align-middle items-center w-full space-x-3 px-5 py-3
            rounded-md shadow-sm bg-blue-500 hover:bg-blue-700 font-semibold text-md xl:text-xl text-white">
                
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" viewBox="0 0 256 256"><path d="M224,128a96,96,0,1,1-96-96A96,96,0,0,1,224,128Z" opacity="0.2"></path><path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm8,191.63V152h24a8,8,0,0,0,0-16H136V112a16,16,0,0,1,16-16h16a8,8,0,0,0,0-16H152a32,32,0,0,0-32,32v24H96a8,8,0,0,0,0,16h24v63.63a88,88,0,1,1,16,0Z"></path></svg>
        <p>Find us on Facebook</p>
    </a>
</div>

<div
    class="flex flex-col justify-end align-middle items-start w-full h-64 p-4
        bg-hero-2 bg-cover bg-no-repeat bg-center">
    
    <a
        href="/gallery"
        class="flex flex-row justify-center align-middle items-center space-x-3 px-5 py-3
            rounded-md shadow-sm bg-purple-500 hover:bg-purple-700 font-semibold text-md xl:text-xl text-white">
                
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" viewBox="0 0 256 256"><path d="M208,40H80a8,8,0,0,0-8,8V176a8,8,0,0,0,8,8H96.69l77.65-77.66a8,8,0,0,1,11.32,0L216,136.69V48A8,8,0,0,0,208,40Zm-88,64a16,16,0,1,1,16-16A16,16,0,0,1,120,104Z" opacity="0.2"></path><path d="M208,32H80A16,16,0,0,0,64,48V64H48A16,16,0,0,0,32,80V208a16,16,0,0,0,16,16H176a16,16,0,0,0,16-16V192h16a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM80,48H208v69.38l-16.7-16.7a16,16,0,0,0-22.62,0L93.37,176H80Zm96,160H48V80H64v96a16,16,0,0,0,16,16h96Zm32-32H116l64-64,28,28v36Zm-88-64A24,24,0,1,0,96,88,24,24,0,0,0,120,112Zm0-32a8,8,0,1,1-8,8A8,8,0,0,1,120,80Z"></path></svg>
        <p>View our gallery</p>
    </a>
</div>

{% endblock %}