{% extends "/layout/default.twig" %}

{% block content %}

<div
    class="flex flex-col justify-start align-middle items-start w-full h-full xl:max-w-7xl">

    <div
        class="w-full p-8 bg-purple-50">
    
        <h1 class="font-bold text-2xl text-purple-700">Products and Services</h1>
    </div>

    <div
        class="w-full space-y-4 p-8 bg-white">
    
        <h2 class="font-bold text-lg text-stone-900">Microchip Cat Flaps</h2>

        <p class="text-md text-stone-900">
            With its advanced selective entry technology, Microchip Cat Flaps have been designed to allow your cat easy access to the outside world whilst keeping other troublesome cats and animals out of your house. Using radio frequency identification (RFID) technology, it works by reading your cat’s unique microchip ID without the need for a collar or accessory.<br>
            <br>
            When your cat approaches the cat flap, the flap will respond by allowing only your cat to enter. The cat flap will remain locked and deny access to cats that are not programmed, wild animals, pests and strays. The cat flap is also designed with a convenient Manual 4-Way lock that allows you to control the access of your programmed cats. Multiple cats can be programmed. 
        </p>
    </div>

    <div
        class="w-full space-y-4 p-8 bg-purple-50">
    
        <h2 class="font-bold text-lg text-stone-900">Manual 4 Way Locking Cat Flap</h2>

        <p class="text-md text-stone-900">
            The Manual-Locking Cat Flap is an easy and economical way to give your cat access while keeping you in control. With the adjustable 4-way lock, you can choose when and how your cat uses the cat flap. Setting the cat flap to fully locked or out only prevents neighbouring pets, strays or unwanted wildlife from entering your home.
        </p>
    </div>

    <div
        class="w-full space-y-4 p-8 bg-white">
    
        <h2 class="font-bold text-lg text-stone-900">App Controlled Microchip Cat Flap With Hub</h2>

        <p class="text-md text-stone-900">
            The Sureflap Microchip Cat Flap Connect with Hub is an easy to program selective access solution, which can be controlled and monitored remotely using the Sure Petcare Hub and the Sure Petcare App on your smartphone or tablet. It recognises your pet's existing microchip to exclusively open for them, whilst preventing other animals from entering your home.<br>
            <br>
            The selective entry provides your pets with increased security against other animals and helps reduce the risk of territorial stress and scent marking. Use the Sure Petcare App to monitor your pets coming and going, understand their outdoor routines, the time they spend outside and spot any unusual changes. Lock and unlock your Microchip Cat Flap Connect remotely, set your pet's entry and exit permissions, check battery levels, set curfews, and be notified when your pets leave or enter the home. 
        </p>
    </div>

    <div
        class="w-full space-y-4 p-8 bg-purple-50">
    
        <h2 class="font-bold text-lg text-stone-900">Petdoor with curfew mode</h2>

        <p class="text-md text-stone-900">
            Suitable for all cat sizes and small dogs.<br>
            <br>
            The Sureflap Microchip Pet Door Connect is an easy to program outdoor access solution with the option to create a curfew timer to set the door to lock/unlock at specified times. It recognises your pet's existing microchip to exclusively open for them, whilst preventing other animals from entering your home. The selective entry provides your pets with increased security against other animals and helps reduce the risk of territorial stress and scent marking.
        </p>
    </div>

    <div
        class="w-full space-y-4 p-8 bg-white">
    
        <h2 class="font-bold text-lg text-stone-900">Manual Dog Door</h2>

        <p class="text-md text-stone-900">
            Ranges from Small (up to 7kg) to Extra Large (up to 100kg)<br>
            <br>
            This door gives your pet all the independence it needs. The solid aluminium frame has reinforced corners for heavy use. The flexible, soft flap is tinted and adjustable. A magnetic flap closure and pile weather stripping along the sides of the flap opening form a weather-resistant seal. A closing panel is included for improved weather-resistance or to control your pet’s access to the pet door.
        </p>
    </div>
</div>

{% endblock %}