{% include "/layout/head.twig" %}

<body
    class="flex flex-col justify-start align-middle items-center min-h-screen w-full bg-stone-100
        bg-grey-50">

    <div
        id="navbar"
        class="sticky top-0 left-0 z-30
            flex flex-row justify-between align-middle items-center w-full min-h-fit
            bg-black">

        <button
            id="menu_button"
            _="on click toggle .hidden on #menu"
            class="p-2">

            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM40,72H216a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16ZM216,184H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"></path></svg>
        </button>

        <h1 class="font-bold text-white">Cat Flap Fitters Yorkshire</h1>

        <a
            id="msg_button"
            href="https://www.facebook.com/messages/t/113924056815660"
            class="mr-2 transition ease-in-out hover:bg-gradient-to-tr from-[#1F83FF] to-[#4A69FF] rounded-md">

            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256"><path d="M181.66,106.34a8,8,0,0,1,0,11.32l-32,32a8,8,0,0,1-11.32,0L112,123.31,85.66,149.66a8,8,0,0,1-11.32-11.32l32-32a8,8,0,0,1,11.32,0L144,132.69l26.34-26.35A8,8,0,0,1,181.66,106.34ZM232,128A104,104,0,0,1,79.12,219.82L45.07,231.17a16,16,0,0,1-20.24-20.24l11.35-34.05A104,104,0,1,1,232,128Zm-16,0A88,88,0,1,0,51.81,172.06a8,8,0,0,1,.66,6.54L40,216,77.4,203.52a8,8,0,0,1,6.54.67A88,88,0,0,0,216,128Z"></path></svg>
        </a>
    
    </div>

    <div
        id="menu"
        class="hidden absolute top-0 left-0 z-50
            flex flex-col justify-start align-middle items-center space-y-6 w-full min-h-screen p-6
            bg-purple-500">

        <button
            _="on click toggle .hidden on #menu"
            class="flex flex-row justify-start align-middle items-center space-x-3 w-full">

            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256"><path d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path></svg>
            <p class="text-lg text-white">close</p>
        </button>

        <a
            href="/"
            class="flex flex-row justify-start align-middle items-center space-x-3 w-full">

            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256"><path d="M218.83,103.77l-80-75.48a1.14,1.14,0,0,1-.11-.11,16,16,0,0,0-21.53,0l-.11.11L37.17,103.77A16,16,0,0,0,32,115.55V208a16,16,0,0,0,16,16H96a16,16,0,0,0,16-16V160h32v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V115.55A16,16,0,0,0,218.83,103.77ZM208,208H160V160a16,16,0,0,0-16-16H112a16,16,0,0,0-16,16v48H48V115.55l.11-.1L128,40l79.9,75.43.11.1Z"></path></svg>
            <p class="text-lg text-white">homepage</p>
        </a>

        <a
            _="on click toggle .hidden on #menu"
            href="/gallery"
            class="flex flex-row justify-start align-middle items-center space-x-3 w-full">

            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256"><path d="M208,32H80A16,16,0,0,0,64,48V64H48A16,16,0,0,0,32,80V208a16,16,0,0,0,16,16H176a16,16,0,0,0,16-16V192h16a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM80,48H208v69.38l-16.7-16.7a16,16,0,0,0-22.62,0L93.37,176H80Zm96,160H48V80H64v96a16,16,0,0,0,16,16h96Zm32-32H116l64-64,28,28v36Zm-88-64A24,24,0,1,0,96,88,24,24,0,0,0,120,112Zm0-32a8,8,0,1,1-8,8A8,8,0,0,1,120,80Z"></path></svg>
            <p class="text-lg text-white">gallery</p>
        </a>

        <a
            href="/about-us"
            class="flex flex-row justify-start align-middle items-center space-x-3 w-full">

            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256"><path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm16-40a8,8,0,0,1-8,8,16,16,0,0,1-16-16V128a8,8,0,0,1,0-16,16,16,0,0,1,16,16v40A8,8,0,0,1,144,176ZM112,84a12,12,0,1,1,12,12A12,12,0,0,1,112,84Z"></path></svg>
            <p class="text-lg text-white">about us</p>
        </a>

        <a
            href="/contact-us"
            class="flex flex-row justify-start align-middle items-center space-x-3 w-full">

            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256"><path d="M140,180a12,12,0,1,1-12-12A12,12,0,0,1,140,180ZM128,72c-22.06,0-40,16.15-40,36v4a8,8,0,0,0,16,0v-4c0-11,10.77-20,24-20s24,9,24,20-10.77,20-24,20a8,8,0,0,0-8,8v8a8,8,0,0,0,16,0v-.72c18.24-3.35,32-17.9,32-35.28C168,88.15,150.06,72,128,72Zm104,56A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z"></path></svg>
            <p class="text-lg text-white">contact us</p>
        </a>

        <a
            href="/quote#"
            class="flex flex-row justify-start align-middle items-center space-x-3 w-full">

            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256"><path d="M229.66,58.34l-32-32a8,8,0,0,0-11.32,0l-96,96A8,8,0,0,0,88,128v32a8,8,0,0,0,8,8h32a8,8,0,0,0,5.66-2.34l96-96A8,8,0,0,0,229.66,58.34ZM124.69,152H104V131.31l64-64L188.69,88ZM200,76.69,179.31,56,192,43.31,212.69,64ZM224,120v88a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32h88a8,8,0,0,1,0,16H48V208H208V120a8,8,0,0,1,16,0Z"></path></svg>
            <p class="text-lg text-white">get a quote</p>
        </a>
    </div>

    {% block content %}{% endblock %}

    <div
        class="w-full
            border-t border-stone-300 bg-stone-200">

        <div
            class="flex flex-col justify-center align-middle items-center w-full">

            <div
                class="w-full px-5 py-3">

                <h1 class="font-bold text-md text-stone-900">Opening Hours:</h1>

                <ul class="text-sm text-stone-900">
                    <li>Weekdays: 09:00 - 14:30</li>
                    <li>Weekends: Closed</li>
                </ul>
            </div>

            <div
                class="w-full px-5 py-3">

                <h1 class="font-bold text-md text-stone-900">Contact:</h1>

                <ul class="text-sm text-stone-900">
                    <li>Landline: 01535 671205</li>
                    <li>Mobile: 07549 247996</li>
                    <li>Email: info@catflapfittersyorkshire.co.uk</li>
                </ul>
            </div>

            <div
                class="w-full px-5 py-3">

                <h6 class="text-xs text-stone-500">This website was designed by LABM Software</h6>
            </div>
        </div>
    </div>
</body>

{% include "/layout/tail.twig" %}